<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid">
    <div class="card jh-card">
        <div class="row">
            <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar" *ngIf="isAuthenticated()">
                <leftNavDashboard></leftNavDashboard>
            </nav>
            <div *ngIf="isAuthenticated()" class="col-sm-9 col-md-10">
                <router-outlet></router-outlet>
                <router-outlet name="popup"></router-outlet>
            </div>
            <div *ngIf="!isAuthenticated()" class="col-md-12">
                <router-outlet></router-outlet>
                <router-outlet name="popup"></router-outlet>
            </div>
        </div>
    </div>
</div>
<jhi-footer></jhi-footer>
