<div>
    <h2>
        <span jhiTranslate="planningAngularDeuxApp.timeSlot.home.title">Time Slots</span>
        <button class="btn btn-primary float-right jh-create-entity create-time-slot" [routerLink]="['/', { outlets: { popup: ['time-slot-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="planningAngularDeuxApp.timeSlot.home.createLabel">
            Create new Time Slot
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="timeSlots">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="opening"><span jhiTranslate="planningAngularDeuxApp.timeSlot.opening">Opening</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="closing"><span jhiTranslate="planningAngularDeuxApp.timeSlot.closing">Closing</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="numberOfPeopleNeeded"><span jhiTranslate="planningAngularDeuxApp.timeSlot.numberOfPeopleNeeded">Number Of People Needed</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timeSlot of timeSlots ;trackBy: trackId">
                <td>{{timeSlot.opening | date:'medium'}}</td>
                <td>{{timeSlot.closing | date:'medium'}}</td>
                <td>{{timeSlot.numberOfPeopleNeeded}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../time-slot', timeSlot.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'time-slot/'+ timeSlot.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'time-slot/'+ timeSlot.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="timeSlots && timeSlots.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
