
<div *ngIf="timeSlot">
    <h2><span jhiTranslate="planningAngularDeuxApp.timeSlot.detail.title">Time Slot</span> {{timeSlot.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="planningAngularDeuxApp.timeSlot.opening">Opening</span></dt>
        <dd>
            <span>{{timeSlot.opening | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="planningAngularDeuxApp.timeSlot.closing">Closing</span></dt>
        <dd>
            <span>{{timeSlot.closing | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="planningAngularDeuxApp.timeSlot.numberOfPeopleNeeded">Number Of People Needed</span></dt>
        <dd>
            <span>{{timeSlot.numberOfPeopleNeeded}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'time-slot/'+ timeSlot.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
